[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mock = "*"
ipython = "*"
mypy = "*"
flake8 = "*"

[packages]
pipfile = "*"
pytest = "*"

[requires]
python_version = "3.7.4"
